body {
    font-family: Arial, sans-serif;
}

.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    display: inline-block;
    position: relative;
}

.navbar a {
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    color: black;
}

.navbar a:hover {
    text-decoration: underline;
}

.dropdown-content {
    display: none;
    position: absolute;
}

.dropdown-content a {
    display: block;
    padding: 8px 15px;
}

.dropdown:hover .dropdown-content {
    display: block;
}